
<br>
<h2>Showing all campaigns</h2>


{{#each campaign in model}}
    <li>
    Campaign No. : {{ campaign.id }}<br>
    Title: {{ campaign.title }}<br>
     {{#link-to 'campaign' campaign.id}}<button class="btn btn-default">open</button>{{/link-to}}
    <hr>
    
    </li>
  {{/each}}

  {{outlet}}