 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li>{{#link-to 'index' }}Realive{{/link-to}}</li>
    
    
        <li>{{#link-to 'campaigns'}}Campaigns{{/link-to}}</li>
       </ul>
    </div>
  </div>
</nav>
<br><br><br><h2 id="title">Welcome to Ember.js</h2>
hey there......if this thing goes out then u need to worry
{{outlet}}
