 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li>{{#link-to 'index' }}Realive{{/link-to}}</li>
    
    
        <li>{{#link-to 'campaigns'}}Campaigns{{/link-to}}</li>
       </ul>
    </div>
  </div>
</nav>
<br><br><br><h2 id="title">Users</h2>

{{#each user in model}}
    <li>
    <b>{{ user.name }}</b><br>
    campaigns:<br>
    
            {{#each campaign in user.campaign}}
          {{campaign.id}} : {{#link-to 'campaign' campaign.id}}{{campaign.title}}{{/link-to}}<br>
            {{/each}}
     
    <hr>
    
    </li>
  {{/each}}

{{outlet}}
