 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li>{{#link-to 'index' }}Realive{{/link-to}}</li>
    
    <li>{{#link-to 'user'}}Users{{/link-to}}</li>
        <li>{{#link-to 'campaigns'}}Campaigns{{/link-to}}</li>
       </ul>
    </div>
  </div>
</nav><br><br><br>
REALIVE
{{outlet}}
